# App
a/*
var/
conf-pro/
t.php
tapi.php
t_*.php
t_*.html
incs/libs/wxpay/cert/apiclient_cert.pem
incs/libs/wxpay/cert/apiclient_key.pem

# Eclipse
.buildpath
.project
.cproject
.settings/
.externalToolBuilders/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
/*.tags
/*.tags_sorted_by_file
