#carlendar_div{display:none;position:absolute;border:1px solid #333;width:280px;height:150px;font-size:12px;background-color:#FFFFFF;}
#carlendar_div a{display:block;text-decoration:none;color:#000000;line-height:18px;}
#carlendar_div a:hover{background-color:#F0FBFB}
#carlendar_div table td{text-align:center;width:40px;height:18px;}
#carlendar_div table td table td{height:25px;background-color:#d05c16;color:#fff;}
#carlendar_div table td table span{display:block;cursor:pointer;}
#carlendar_div input{background-color:#333;border:1px solid #d05c16;color:#fff;}
#carlendar_div #inYear{width:30px;}
#carlendar_div #inMonth{text-align:center;width:20px;}
#carlendar_div #cssWeek{background-color:#eee;}
#carlendar_div #cur{background-color:#d05c16;color:#fff}
.aCal{float:right;display:block;height:16px;width:16px}
a.aCal:hover{background-position:left top;}