.w1000 {
	width: 90%;
}
.page {
	height: auto;
}
header {
	-webkit-background-size: 100%;
	background-size: 100%;
}
/*在手机端显示时头部右侧隐藏*/
#h_img {
	padding: 60px 0 40px;
}
#h_left {
	width: 100%;
}
#logo img {
	max-width: 277px;
}
#h_wechat {
	max-width: 183px;
}
#h_right {
	display: none;
}
#shareto {
	height: 23px;
	line-height: 23px;
}
#st1 {
	display: inline-block;
	background: url("../img/share1.png") no-repeat;
	width: 25px;
	-webkit-background-size: 100%;
	background-size: 100%;
	vertical-align: middle;
}
#st2 {
	display: inline-block;
	background: url("../img/share2.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 20px;
	vertical-align: middle;	
}
/*中间部分显示两列*/
#item-2 {
	padding-top:0px;
}
#fulist li {
	width: 47%;
}
.li_bg {
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	width: 69px;
	height: 69px;
}

.li_title {
	background-size: 834px;
	height: 30px;
}
.t1 {
	background-position: -0px 0px;
	width: 100px;
}
.t2 {
	background-position: -108px 0px;
	width: 114px;
}
.t3 {
	background-position: -228px 0px;
	width: 99px;
}
.t4 {
	background-position: -326px 0px;
	width: 101px;
}
.t5 {
	background-position: -430px 0px;
	width: 105px;
}
.t6 {
	background-position: -538px 0px;
	width: 100px;
}
.t7 {
	background-position: -639px 0px;
	width: 100px;
}
.t8 {
	background-position: -738px 0px;
	width: 100px;
}
/*底部*/

.f_img {
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
}
#nav,#page-nav {
	display: none;
}