@CHARSET "UTF-8";
*{margin:0;padding:0;color:#333;border:none;list-style:none;outline:none;font-family: "Microsoft Yahei" !important;-webkit-tap-highlight-color: rgba(255, 255, 255, 0);}
.white_bg{
	background: #fff;
}
.gray_bg{
	background: #f3f3f3;
}
.has_footer{
	padding-bottom: 60px;
}
button.clicked,button.isclick,button.isclicked{
	background: #999;
}
a,a:hover{text-decoration:none;}
img{border:none;}
.clear{
	clear: both;
}
html,body {width: 100%;height: auto;}
@media (min-width: 1025px){
	html{background: #666;}
	body{max-width: 400px;margin: 0 auto;min-height: 1000px;position: relative;background: #fff;}	
}
.cursor{
	cursor: pointer;
}

/* 表单提交加载等待 */
#zxloading{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1000000;
	background: rgba(255,255,255,0.8);	
}
#zxloading #loadtext{
	width: 214px;
	height: 94px;
	padding: 8px 0;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -110px;
	margin-top: -55px;
	text-align: center;
	font-size: 15px;
	z-index: 1000001;
	border-radius: 5px;
	background: rgba(0,0,0,0.8);	
}
#zxloading #loadtext p{
	margin-top: 5px;
	color: #fff;
}
#zxloading #loadtext img{
	width: 60px;
	height: 60px;
}

/* 提示层 */
.reg_error{
	display: none;
	position: fixed;
	top: 39%;
	left: 50%;
	width: 220px;
	margin-left: -120px;
	font-size: 14px;
	padding: 10px;
	line-height: 22px;
	color: #fff;
	background: rgba(0,0,0,0.75);
	border-radius: 5px;
	text-align: center;
	z-index: 30000;	
}

/* 遮罩层 */
.mask,.mask_dj,.mask_ecard,.mask_nodata,.mask_ewm,.mask_pay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 10000;	
	cursor: pointer;
}

/* 带确定按钮弹层 */
.boxTip{
	position: fixed;
	width: 300px;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -150px;
	background: #fff;
	z-index: 70000;
}
.boxBtn{
	height: 36px;
	width: 100px;
	font-size: 15px;
	border: 0;
	background: #36a65a;
	color: #fff;
	border-radius: 2px;	
}
.boxBtn:hover{
	background: #2b8949;	
}
.boxTip1{
	text-align: center;	
	font-size: 16px;
	margin: 30px 20px;
}
.boxTip2{
	border-top: 1px solid #ccc;
	text-align: center;
	padding: 10px 0;
}

/* 是否的弹层 */
.boxtitle{
	background: #eee;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	border-bottom: 1px solid #ccc;
}
.boxCheck{
	display: none;
	position: fixed;
	width: 280px;
	top: 50%;
	left: 50%;
	margin-left: -140px;
	margin-top: -80px;
	background: #fff;
	z-index: 70000;
}
.boxYes{
	float: right;	
	height: 44px;
	width: 50%;
	font-size: 16px;
	border: 0;
	color: #1FA761;
	cursor: pointer;
	background: #fff;	
	border-left: 1px solid #ddd;
	font-weight: 700;		
}
.boxNo{
	float: left;	
	height: 44px;
	width: 50%;
	font-size: 16px;
	border: 0;
	color: #aaa;
	cursor: pointer;
	background: #fff;	
	font-weight: 700;		
}
.boxCheck1{
	text-align: center;	
	font-size: 17px;
	margin: 40px 20px;
	line-height: 26px;
}
.boxCheck2{
	border-top: 1px solid #ddd;
	text-align: center;
}

/* 剪切头像 */
.cutimg{
	display: none;
	z-index: 3;
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	left: 0;
	top: 0;
	overflow-y: scroll;
}
.cimg_head{
	position: relative;
	height: 50px;
	line-height: 52px;
	background: #3a434a;
	text-align: center;
	color: #fff;
	font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 90px;
}
.cimg_head a{
	position: absolute;	
	display: inline-block;
	height: 20px;
	padding: 15px;	
}
.cimg_head img {
	vertical-align: top;
	height: 20px;
}
a.cutback{
	left: 0;
}
a.cutok{
	right: 0;
}
.cimg_foot{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background: #333;
}
.cimg_foot p{
	color: #fff;
	font-size: 15px;
	margin: 11px 10px 18px;
}

/* 头部 */
.header{
	position: relative;	
	height: 44px;
	line-height: 44px;
	background: #f6f6f6;
	color: #333;
	font-weight: bold;
	font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 50px;
	text-align: center;	
	border-bottom: 1px solid #ccc;
}
.header a{
	position: absolute;	
	display: inline-block;
	height: 30px;
	line-height: 30px;	
	padding: 7px 12px;	
	font-weight: normal;	
	text-decoration: none;	
}
a.back{
	left: 0;
	top: 0;
	width: 22px;
	background: url(../img/backl.png) no-repeat 5px center;
	background-size: 22px;
}
a.h_btn{
	font-size: 16px;
	right: 0;
	top: 0;	
	color: #333;
}

/* 尾部 */
.footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	border-top: 1px solid #ccc;
	background: #f6f6f6;
}
.footer li{
	cursor: pointer;
	position: relative;		
	float: left;
	width: 25%;
	height: 49px;
	text-align: center;
}
#f_sy {
	background: url(../img/bot_n.png) no-repeat;
	background-position: 0 2px;
	background-size: auto 44px;
}
#f_sy.on {
	background: url(../img/bot_p.png) no-repeat;
	background-position: 0 2px;	
	background-size: auto 44px;
}
#f_gwc {
	background: url(../img/bot_n.png) no-repeat;
	background-position: -84px 2px;
	background-size: auto 44px;
}
#f_gwc.on {
	background: url(../img/bot_p.png) no-repeat;
	background-position: -84px 2px;	
	background-size: auto 44px;	
}
#f_hhr {
	background: url(../img/bot_n.png) no-repeat;
	background-position: -168px 2px;	
	background-size: auto 44px;
}
#f_hhr.on {
	background: url(../img/bot_p.png) no-repeat;
	background-position: -168px 2px;	
	background-size: auto 44px;
}
#f_hy {
	background: url(../img/bot_n.png) no-repeat;
	background-position: -252px 2px;	
	background-size: auto 44px;
}
#f_hy.on {
	background: url(../img/bot_p.png) no-repeat;
	background-position: -252px 2px;	
	background-size: auto 44px;
}
#f_ms {
	background: url(../img/tab_hms.png) no-repeat center 4px;
	background-size: auto 44px;
}
#f_ms.on {
	background: url(../img/tab_ms.png) no-repeat center 4px;
	background-size: auto 44px;
}
.f_num{
	position: absolute;
	width: 14px;
	height: 14px;
	line-height: 14px;
	border-radius: 50%;
	overflow: hidden;
	font-size: 8px;
	display: inline-block;
	color: #fff;
	background: #ff0006;
	top: 2px;
	left: 50%;
	margin-left: 1px;
}

/* 空购物车 */
.cart_empty{
	position: absolute;
	top: 50%;
	margin-top: -95px;
	width: 100%;
	text-align: center;	
}
.cart_empty_img{
	width: 100px;
	margin: 0 0 25px;
}
.cart_empty_back{
	display: inline-block;
	width: 100px;
	height: 40px;
	color: #333;
	font-size: 17px;
	background: #fff;
	border: 1px solid #ccc;
}

/* 购物车 */
.cart_shop{
	border-bottom: 1px solid #ccc;
	margin-bottom: 12px;
}
.cart_shop_name{
	position: relative;	
	height: 44px;
	line-height: 44px;	
	background:  #fff;
}
.cart_select{
	cursor: pointer;
	float: left;
	display: inline-block;	
	width: 20px;
	height: 100%;	
	padding: 0 12px;
	background: url(../img/wxz.png) no-repeat center center;
	background-size: 20px;	
}
.cart_select.on{
	background: url(../img/dgx.png) no-repeat center center;
	background-size: 20px;	
}
.cart_shop_link{
	position: absolute;	
	display: inline-block;
	left: 44px;
	right: 0;	
	font-size: 15px;	
	height: 100%;	
	color: #333; 
	padding: 0 27px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
	background: url(../img/shop_logo.png) no-repeat 0 center;
	background-size: 17px;	
}
.cart_product_item{
	background: #f8f8f8;
	border-bottom: 3px solid #fff;	
	height: 90px;
	padding: 5px 0;
}
.cart_product_item:last-child{
	border-bottom: 0;	
}
.cart_shop:last-child{
	margin-bottom: 0; 
}
.cart_p_img{
	float: left;
	width: 90px;
	height: 90px; 
	margin-right: 10px;	
}
.cart_p_img img{
	width: 100%;
	height: 100%;
	/* margin-bottom: -4px; */
}
.cart_p_main{
	margin-right: 10px;  
}
.cart_p_main h1{
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
	line-height: 18px;
}
.cart_p_desc{
	height: 60px;
	margin-bottom: 6px;
}
.cart_p_info{
	margin-top: 5px;
	color: #999;
	font-size: 12px;
}
.cart_p_price{
	height: 24px;
	line-height: 24px;
	position: relative;
}
.cart_p_price i{
	float: left;
	font-stype: normal;
	color: #f00;
	font-size: 15px;
}
.cart_p_price i small,.cart_t_price small{
	color: #f00;	
}
.cart_p_price p{
	position: absolute;
	top: 0;
	right: 0;
}
.cart_p_price p span{
	float: left;
	cursor: pointer;	
	margin-left: 1px;
	display: inline-block;
}
.cart_btn{
	width: 28px;
	height: 24px;
}
.btn_plus{
	background: #f0f0f0 url(../img/jia.png) no-repeat center center;
	background-size: 12px;
}
.btn_minus{
	background: #f0f0f0 url(../img/jin.png) no-repeat center center;
	background-size: 12px;
}
.cart_inp{
	background: #f0f0f0;	
	border: none;
	height: 24px;
	width: 33px;
	border-radius: 0;
	padding: 0;
	text-align: center;
}

/* 编辑工具栏 */
.cart_tool{
	position: fixed;
	bottom: 50px;
	left: 0;
	width: 100%;
	height: 49px;
	background: #fff;
	border-top: 1px solid #ccc;
}
.cart_tool span{
	display: inline-block;
	line-height: 50px;	
}
.cart_t_btn{
	cursor: pointer;
	font-size: 16px;
	color: #f3f3f3;
	background: #ff6d14; 
	width: 100px;
	height: 50px;	
	text-align: center;
	margin-top: -1px;
}
.cart_t_money{
	color: #666;
	font-size: 14px;
	margin-right: 10px;
}
.cart_t_price{
	color: #f00;
}
.cart_t_select{
	cursor: pointer;	
	color: #666;	
	font-size: 16px;
}

/* 产品详情 */
.p_detail_banner .swiper-container{
	/* height: 240px; */
	position: relative;
}
.p_detail_banner .swiper-slide{
	text-align: center;
}
.p_detail_banner .swiper-slide img{
	width: 100%;
	height: 100%;
}
.p_detail_menulist{
	display: none;
}
.mask_menu{
	display: none;	
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;	
	left: 0;	
	z-index: 100;	
}
.p_detail_back{
	position: fixed;	
	display: inline-block;	
	left: 10px;
	top: 7px;
	width: 30px;
	height: 30px;
	background: url(../img/back－1.png) no-repeat;
	background-size: 30px;
	z-index: 111;
}
.p_detail_more{
	position: fixed;	
	display: inline-block;	
	right: 10px;
	top: 7px;
	width: 30px;
	height: 30px;
	background: url(../img/more.png) no-repeat;
	background-size: 30px;
	z-index: 111;
}
.p_detail_jian{
	position: fixed;	
	right: 19px;
	top: 39px;
	width: 13px;
	height: 6px;
	background: url(../img/sanj_03.png) no-repeat;	
	background-size: 13px;	
	z-index: 111;	
}
.p_detail_menu{
	position: fixed;	
	right: 4px;
	top: 45px;
	width: 125px;
	border-radius: 4px;
	background: rgba(60,59,58,0.9);	
	z-index: 111;	
}
.p_detail_menu li{
	height: 44px;  
	line-height: 44px;	
	border-bottom: 1px solid rgba(156,156,156,0.9);
}
.p_detail_menu li a{
	display: block;
	color: #fff;	
	font-size: 17px;	
	padding-left: 48px;	
}
.p_detail_menu li:last-child{
	border-bottom: 0;
}
.p_menu_sy{
	background: url(../img/bot_d.png) no-repeat;
	background-position:13px 0;
	background-size: 24px;	
}
.p_menu_hhr{
	background: url(../img/bot_d.png) no-repeat;
	background-position:13px -46px;	
	background-size: 24px;	
}
.p_menu_hy{
	background: url(../img/bot_d.png) no-repeat;
	background-position:13px -92px;	
	background-size: 24px;	
}
.p_detail_msg{
	padding: 15px 12px 12px;
}
.p_d_title{
	font-size: 18px;
	color: #111;
}
.p_d_intro{
	font-size: 12px;
	color: #666;
	margin: 10px 0 12px;		
}
.p_d_price span{
	color: #f00;
	font-size: 20px;	
}
.p_d_price b{
	font-size: 12px;
	font-weight: normal;
	color: #666;
	margin-left: 20px;	
	text-decoration: line-through;
}
.p_d_sale span,.p_d_sale b{
	font-size: 12px;
	color: #666;	
	font-weight: normal;	
}
.p_d_sale{
	overflow: hidden;
	margin-top: 10px;	
}
.p_detail_friend{
	background: #fff8f3;
	padding: 12px; 
	height: 36px;	
	line-height: 36px;	
	font-size: 15px;
}
.p_detail_friend b{
	font-weight: bold;
}
.p_friend_left img{
	width: 36px;
	height: 36px;
	margin-right: 10px;
}
.p_detail_serv{
	padding: 8px 12px;
}
.p_detail_serv li{
	float: left;
	font-size: 12px;	
	color: #323232;
	margin-right: 18px;
	line-height: 2;
	padding-left: 17px;
	background: url(../img/dgou.png) no-repeat 0 center;
	background-size: 12px;
}
.p_detail_pull{
	background: #f3f3f3;
	overflow: hidden;
    height: 12px;
}
.p_detail_pull h1{
    height: 10px;
	font-weight: normal;
    border-bottom: 1px solid #d8d8d8;
	margin: 0 12px;
}
.p_detail_pull p{
    height: 20px;
    text-align: center;
    font-size: 13px;
    color: #999;
    background: #f3f3f3;
    margin: 0 auto;
}
.p_detail_info{
	background: #fff;
}
.p_i_title{
	height: 44px;
	line-height: 44px;	
	padding-left: 12px;
	border-bottom: 1px solid #ccc;
}
.p_i_title span{
	display: inline-block;
	height: 20px;
	line-height: 20px;	
	padding-left: 8px;
	font-size: 17px;	
	font-weight: bold;	
	border-left: 4px solid #ff6d14;
}
.product_detail{
	padding: 12px;
	line-height:0;
}
.product_detail *{
	max-width: 100%;
}

/* 产品详情底部 */
.p_detail_tool{
	position: fixed;
	bottom: 0;
	left: 0;	
	width: 100%;
	background: #fff;
	z-index: 99;
}
.p_detail_tool div{
	display: inline-block;
	height: 50px;	
	line-height: 50px;	
	text-align: center;	
	position: relative;
}
.p_d_t1{
	width: 16%;
	background: url(../img/kefu.png) no-repeat center center;
	background-size:20px 32px;
	border-top: 1px solid #ccc;	
}
.p_d_t1 p{
	height: 100%;
	border-right: 1px solid #ccc;
}
.p_d_t5{
	width: 16%;
	background: url(../img/dp331.png) no-repeat center center;
	background-size:20px 32px;
	border-top: 1px solid #ccc;	
}
.p_d_t5 p{
	height: 100%;
	border-right: 1px solid #ccc;
}
.p_d_t2{
	width: 16%;	
	background: url(../img/shouc1.png) no-repeat center center;
	background-size:20px 32px;
	border-top: 1px solid #ccc;	
}
.t2_on{
	width: 16%;	
	background: url(../img/sc4.png) no-repeat center center !important;
	background-size:20px 32px !important;
}
.p_d_t3{
	width: 26%;
	color: #fff;
	background: #f4503e;
	font-size: 14px;
	border-top: 1px solid #f4503e;	
}
.p_d_t4{
	width: 26%;
	color: #fff;
	background: #ff6d14;
	font-size: 14px;
	border-top: 1px solid #ff6d14;	
}
.p_detail_button{
	position: fixed;
	width: 40px;
	height: 40px;
	right: 12px;
	z-index: 99;	
}
.p_detail_follow{
	background: url(../img/wxg.png) no-repeat;
	background-size: 40px;
	bottom: 110px;	
}
.p_detail_gotop{
	background: url(../img/hdb.png) no-repeat;
	background-size: 40px;
	bottom: 60px;
}

/* 加入购物车 */
.p_cart_main{
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;	
	height: 80%;
	z-index: 20000;
}
.is_show{
	display: block;	
	-webkit-animation: zoomIn .5s ease 0s 1 both;
	animation: zoomIn .5s ease 0s 1 both;
}
.is_hide{
	-webkit-animation: zoomOut .5s ease 0s 1 both;
	animation: zoomOut .5s ease 0s 1 both;
}
.p_cart_content{
	position: relative;
	height: 100%;
	padding: 0 0 60px;
}
.p_cart_close{
	position: absolute;
	right: 12px;
	top: 12px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../img/gbh.png) no-repeat center center;
	background-size: 20px;
}
.p_cart_btn{
	position: fixed;
	bottom: 0;		
	height: 50px;
	line-height: 50px;	
	color: #fff;
	width: 100%;
	font-size: 17px;
	background: #ff6d14;
	text-align: center;
}
.p_cart_hd{
	margin-left: 12px;	
	padding: 0 0 10px;
	border-bottom: 1px solid #ccc;
}
.p_cart_hl img{
	height: 118px;
	width: 118px;
	margin-top: -20px;
	border-radius: 4px;
}
.p_cart_hr{
	margin-left: 12px;
}
.p_hr_price{
	font-size: 18px;
	color: #f00;
	margin: 15px 0 10px;
}
.p_hr_stock,.p_hr_select{
	font-size: 14px;
}
.p_cart_bd{
	height: 55%;
	overflow-y: scroll;
	margin-left: 12px;	
}
.p_cart_item{
	padding: 12px 0;	
	border-bottom: 1px solid #ccc;	
}
.p_cart_btit{
	font-size: 14px;
}
.p_cart_ul li{
	cursor: pointer;
	float: left;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	font-size: 12px;
	background: #f5f5f5;
	border-radius: 4px;
	margin: 12px 12px 0 0;
}
.p_cart_ul li.on{
	color: #fff;
	background: #ff6d14;
}
.p_cart_number{
	margin-top: 12px;	
	margin-right: 12px;	
	height: 30px;
}
.p_cart_number .cart_inp{
	width: 38px;
	height: 30px;
	line-height: 30px;	
}
.p_cart_number .cart_btn{
	width: 33px;
	height: 30px;
	line-height: 30px;
}
.p_header_bar{
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 0;
	left: 0;
	z-index: 111;
	background: rgba(255,255,255,1);
}
.p_header_bar_main{
	position: relative;
	height: 44px;
    line-height: 44px;
	margin: 0 3px;
}
a.ph_btn{
	right: 0;
    top: 0;
    width: 20px;
    background: url(../img/more_black.png) no-repeat center center;
    background-size: 20px;
}

.is_confirm{
	top: 55%;
	left: -20%;
	-webkit-animation: cartFly .6s ease 0s 1 both;
	animation: cartFly .6s ease 0s 1 both; 
}
@-webkit-keyframes cartFly {
	0% {
		-webkit-transform: scale(1,1) rotate(0deg);
		transform: scale(1,1) rotate(0deg);	
		opacity: 1
	}

	100% {
		opacity: 0;	
		-webkit-transform: scale(0,0) rotate(720deg);	
		transform: scale(0,0) rotate(720deg);			
	}
}
@keyframes cartFly {
	0% {
		-webkit-transform: scale(1,1) rotate(0deg);
		transform: scale(1,1) rotate(0deg);	
		opacity: 1
	}

	100% {
		opacity: 0;	
		-webkit-transform: scale(0,0) rotate(720deg);	
		transform: scale(0,0) rotate(720deg);			
	}
}
