#dpzx{
	background:url("../img/dpzx.png") no-repeat 20px;	
	padding-left:45px;
}
#dpzl{
	background:url("../img/dpzl.png") no-repeat 20px;
	padding-left:45px;
}
#kfgl{
	background:url("../img/kfgl.png") no-repeat 20px;
	padding-left:45px;
}
#jsgl{
	background:url("../img/jsgl.png") no-repeat 20px;
	padding-left:45px;
}