#tjydm{
	background:url("../img/tuijian.png") no-repeat 20px;	
	padding-left:45px;
}
#zzsh{
	background:url("../img/shenhe.png") no-repeat 20px;
	padding-left:45px;
}

.terrace_right_common{
 	margin: 20px 0 0 20px;
 	width: 1040px;
 	float: left;
 	min-height: 880px;		
}
.examin_flow{
	background:#fff;
	min-height:880px;
	padding:0 20px;
}
.examin_tab_flow{
	width:100%;
}
.examin_tab_flow td{
	height:340px;
 	vertical-align: top;		
}
.examin_flow_one,.examin_flow_two,.examin_flow_three{
	height:100px;
	border:1px solid #eee;
	margin-bottom:18px;
}
.one_div_left{
	height:60px;
	padding:20px;
	float:left;
}
.one_div_left p{
	height:30px;
	line-height:30px;
}
.flow_font_common{
	font-size:18px;
	color:#1f1f1f;
}
.flow_m_common{
	font-size:13px;
	color:#7d7d7d;
}
.flow_font_common img{
 	height: 24px;
 	width: 24px;
 	vertical-align: top;
 	margin-top: 3px;	
	margin-left:10px;	
}
.one_div_right{
	float:right;
	padding-right:20px;
	height:100px;
	line-height:100px;
	font-size:13px;
	color:#7d7d7d;
}
.one_div_right img{
 	width: 28px;
 	vertical-align: top;
 	height: 20px;
 	margin: 40px 10px;		
}
.one_div_right button{
	font-size:13px;
	background:#f26427;
	width:80px;
	height:40px;
	line-height:40px;
	border-radius:4px;
	border:0;
	color:#fff;
}

.did_not{
 	text-align: center;
 	padding-top: 50px;	
	height:90px;	
}
.did_not_left{ 
	display:inline-block;
	height:90px;		
}
.did_not_right{
 	display: inline-block;
	height:90px;		
 	margin-left: 20px;		  
 	vertical-align: text-bottom;
}
.right_did{
 	text-align: left !important;
 	font-size: 24px;
 	color: #323232;		
}
.right_did button{
 	font-size: 13px;
 	background: #f26427;
	padding:0 20px; 
 	height: 40px;
 	line-height: 40px;
 	border-radius: 4px;
 	border: 0;
 	color: #fff;		
}