input,button {
	outline: none;
}
img {
	width: 100%;
}
#rtWrap {
	height: 100%;
	margin: 0 auto;
	position: relative;
	background: #fff;
	/*overflow: hidden;*/
}
#main {
   /* overflow: hidden;*/
    position: absolute;
    top:0px;
    bottom: 0px;
    width: 100%;
}
#main .scrollArea {
	 overflow: auto;
    position: absolute;
    transform: translateZ(0px);
    width: 100%;
}
#card {
	height: 100%;
	min-height: 480px;
	width: 100%;
	margin: 0px auto;
	/*padding-bottom: 80px;*/
	position: relative;
	left: 0px;
}
#card_content {
	text-indent: 2em;
	color: #000;
	font-size: 20px;
	position: absolute;
	top:250px;
	height: auto;
	width: 80%;
	/*margin: 0px 10%;	*/
}
#share {
	height:65px; 
	background:#000; 
	width:100%;
	/*max-width: 800px; */
	position:fixed; 
	bottom:0;
	left:0;
	filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
	opacity: 0.8;
	-moz-opacity:0.8;
}
#share_btn {
	background: url("../img/share_.png") no-repeat;
	-webkit-background-size: 240px 45px;
	background-size: 240px 45px;
	border: none;
	width: 240px;
	height: 45px;
	line-height: 45px;
	margin: 0 auto;
	text-align: center;
	display: block;
	margin-top: 10px;
	font-size: 21px;
	font-size: 2.1rem;
	font-weight:bold;
	color: #fff;
}
/*礼物*/
#gift {
	background: url("../img/gift_bg.jpg");
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	min-height: 500px;
	padding: 30px 0px;
}
#gift_img {
	display: none;
	border:6px solid #EA9500;
	border-radius:8px;
	width: 230px;
	height: 230px;
	margin: 0px auto;
}
#gift_img img {
	width: 100%;
	height: 230px;
}
#gift_btn {
	position: absolute;
	width: 100%;
	bottom: 20px;
}
.gift_open  {
	background: url("../img/gift_open.png") no-repeat;
	border: none;
	background-size: 100% 100%;
	width: 118px;
	height: 94px;
	margin: 50px auto;
	display:block;
	position: relative;
}
.gift_detail {
	background: url("../img/gift_detail.png") no-repeat;
	background-size: 100% 100%;
}
/*音乐*/
#music {
	width: 100%;
	position: relative;
}
#music_infos {
	width: 100%;
	height: 85px;
	background-color: #000;
	filter:alpha(opacity=90); /*IE滤镜，透明度50%*/
	opacity: 0.9;
	-moz-opacity:0.9;
	position: absolute;
	top:0;
	left:0;
}
#music_infos ul li {
	float: left;
	padding-top: 10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	ms-box-sizing:border-box;
	box-sizing:border-box; 
}
#music_img,#music_btn {
	width: 25%;
	
}
#music_img img {
	max-width: 59px;
	margin:0px 10px;
}
#music_btn img {
	max-width: 50px;
	margin: 0px 10px;
}

#music_btn .play_icon{
	background:url('../img/play.png') no-repeat;
	background-size: 50px;
	border: none;
	width:50px;
	height: 50px;
	/*margin-left: -100px;*/
	margin-top:8px;
}
#music_btn .play{
	background-position: 0 0;
}
#music_btn .hault{
	background-position: 0px -54px;
}


#music_info {
	width: 50%;
	height: 85px;
	color:#fff;
}
#music_info p {
	font-size: 20px;
}
#music_name {
	color: #ffff66;
}
/*文字*/
.word_bg {
	background: url("../img/word_bg.png") no-repeat;
	background-size: 100% auto;
	min-height:543px;
	padding-top:25px;
}
#word {
	background: url("../img/word_bg2.png") no-repeat;
	/*-webkit-background-size: 100% 100%;
	background-size: 100% 100%;*/
	-webkit-background-size:contain;
	background-size: contain;
	width: 320px;
	height: auto;
	min-height: 385px;
	padding: 15px 0px 0px;
	margin: 0px auto;
}
#word p {
	width: 80%;
	margin: 0 auto;
	background-size: 100%;
}
#word_header {
	background: url("../img/word_header.png") center center  no-repeat;
	height: 61px;

}
#word_txt {
	background: url("../img/word_main.png") center center repeat-y;
	height: auto;
	min-height: 286px;
	line-height: 26px;
	text-indent: 2em;
	padding: 0px 14px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	ms-box-sizing:border-box;
	box-sizing:border-box; 

}
#word_footer {
	background: url("../img/word_footer.png") center center no-repeat;
	height: 19px;
}

/*  加载蒙板  */
.cover img{
	width:50px;
	height:50px;
	vertical-align: middle;
}
.loading {
	background: url("/misc/images/loading_circle.gif") no-repeat fixed center center;
}

