@CHARSET "UTF-8";

#login {margin:108px auto 0;width:480px;background-color: #fff;border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;}
#login h1 {text-align:center;font-size:24px;padding-top:25px;}
#login form {padding: 26px 30px 36px;}
#retcode {color:red;}
#login form label {color: #777;font-size: 14px;}
#login form .input {
    color: #555;
    font-weight: 200;
    font-size: 24px;
    line-height: 1;
    width: 97%;
    padding: 3px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#login form .input-short {width: 30%;}
#login form .input:focus {border-color: #aaa;}
#login form .button {
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    white-space: nowrap;

    -moz-box-sizing: border-box;
    border: 1px solid #135AA4;
    border-bottom-color: #1e6a8d;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 34px;
    line-height: 32px;
    padding: 0 12px 2px;

    background-color: #135AA4;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2a95c5),to(#135AA4));
    background-image: -webkit-linear-gradient(top,#2a95c5,#135AA4);
    background-image: -moz-linear-gradient(top,#2a95c5,#135AA4);
    background-image: -ms-linear-gradient(top,#2a95c5,#135AA4);
    background-image: -o-linear-gradient(top,#2a95c5,#135AA4);
    background-image: linear-gradient(to bottom,#2a95c5,#135AA4);
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
    box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
#login form .loginbtn {float: right;margin-right: 5px;}


/*��������*/

#login_new_header{
    width:100%;
    background:#323a4d;
    height:60px;
}
#header_center{
    width:1200px;
    margin:0 auto;
}

#login_header_left{
    vertical-align: top;
    line-height:57px;
    height:57px;
    color:#fff;
    font-size:16px;
    float:left;
}
#login_header_right{
    float:right;
}
#login_header_right li{
    font-size:16px;
    color:#fff;
    float:left;
    line-height:60px;
    padding-left:50px;
}

#forget_bg{
    min-height:100%;
    width:100%;
}
#find_word_tit{
    width:1200px;
    margin:50px auto 0;
    font-size:24px;
    color:#f26427;
}
#find_word_one{
    width:1200px;
    margin:10px auto 0;
    background:#fff;
}
.one_password{
    padding-top: 80px;
    text-align: center;
}
.one_flow{
    text-align:center;
    padding-bottom:90px;
}
.one_flow li{
    width: 235px;
    display: inline-block;
}
.flow_on{
    color:#f26427;
    font-size:14px;
}
.one_verify{
    text-align:center;
}
.phone_id{
    font-size:14px;
    color:#333;
    margin-bottom:20px;
}
#verify_phone{
    margin-left:10px;
    width:360px;
    border:1px solid #ddd;
    height:30px;
    padding-left:5px;
}
.auth_code{
    margin-right: 15px;
    width:215px;
    border:1px solid #ddd;
    height:30px;
    margin-left: 20px;
}
.gain_note{
    width:130px;
    height:33px;
    background:#f69267;
    color:#fff;
    border:0;
    vertical-align: top;
    border-radius:2px;
}
.code_ts{
    font-size:14px;
    color:#999;
    padding:10px 0 0 240px;
    display: none;
}
#next_one{
    margin-top:50px;
    text-align:center;
    padding-bottom:100px;
}
#next_step{
    width:100px;
    height:40px;
    border:0;
    background:#f26427;
    font-size:12px;
    color:#fff;
    border-radius:5px;
    margin-left:-175px;
}
.three_infos{
    text-align:center;
    padding-bottom:150px;
}
.success_ts{
    display:inline-block;
    vertical-align: top;
    text-align:left !important;
    margin-left:10px;
}
.success_img{
    display: inline-block;
}
.ts_tit{
    font-size:24px;
    color:#f26427;
}
.ts_password{
    font-size:16px;
    color:#666;
}
.ts_password a{
    color:#0085d7 !important;
}
/*.find_two,.find_three{*/
    /*display:none;*/
/*}*/

#verifycode{
    width: 200px;
    border: 1px solid #e9e9e9;
    margin: 15px 40px;
    height: 40px;
    padding-left: 10px;
}
.login{
    background:url(../img/bj.png) no-repeat center;
    height:600px;
}
.login_ins{
    position: absolute;
    width:430px;
    height:auto;
    border:1px solid #e9e9e9;
    top:105px;
    right:40px;
    background:#fff;
}
.lg_in{
    width:1200px;
    margin:0 auto;
    position: relative;
}
.ins_l{
    font-size:24px;
    color:#333;
    margin:20px 40px 20px;
}
.ins_b{
    font-size:14px;
    color:#333;
    padding-left:5px;
}
#loginname{
    background: url(../img/zh.png) no-repeat 95%;
    width:338px;
    border:1px solid #e9e9e9;
    margin:15px 40px;
    height:40px;
    padding-left:10px;
}
#password{
    background: url(../img/mm.png) no-repeat 95%;
    width:338px;
    border:1px solid #e9e9e9;
    margin:15px 40px;
    height:40px;
    padding-left:10px;
}

.remember_me{
    display:inline-block;
    background: url(../img/ask03.png) no-repeat left;
    padding-left:25px;
    font-size:14px;
    color:#666;
}
.remember_me_on{
    background: url(../img/xz.png) no-repeat left !important;
    padding-left:25px;
}
.forget-pwd{
    display:inline-block;
    float:right;
    font-size:14px;
    color:#666;
}
#btnsubmit{
    width:350px;
    height:50px;
    background:#f26427;
    font-size:18px;
    color:#fff;
    border-radius:4px;
    border:0;
}
.apply_for{
    margin:10px 40px 20px;
    font-size:14px;
    color:#666;
    float:right;
}
.enter_reason{
    background:#fff;
}
.enter_reason h1,.enter_flow h1{
    font-size:44px;
    color:#323a4d;
    text-align:center;
    padding-top:70px;
}
.enter_reason p,.enter_flow p{
    text-align:center;
    padding-top:70px;
}
.enter_reason img{
    margin:0 5% 100px;
}
.enter_flow{
    background:#f6fcff;
    height:480px;
}
.contact_us{
    background:#fff;
    height:500px;
}
.contact_us img{ 
    width:270px;
    height:270px;
}
.contact_us h1{
    font-size:44px;
    color:#323a4d;
    text-align:center;
    padding-top:40px;
}
.contact_us p{
    text-align:center;
    padding-top:30px;
}
.verify_phone {
    margin-left: 10px;
    width: 360px;
    border: 1px solid #ddd;
    height: 30px;
    padding-left: 5px;
}
/* e */






