div.content{margin-top: 20px;color: #555;padding: 0 10px;}
.content h1{font-size: 28px;font-weight: bold;margin-bottom: 20px;line-height: 30px;}
.content{font-size: 16px;word-break: keep-all; line-height: 20px;}
.content div{width: 100%;white-space: pre-line;font-family: Helvetica; min-height:300px;}
.content .tab{margin-left: 25px;}
.content .cc{text-align: center;min-height: 310px;}
.content-plain{padding: 10px;}
header.small{display: none}
@media (max-width: 800px),
(max-device-width: 800px){
	header{display: none}
	header.small{
		display: block;
		font-size: 30px;
		color: #555;
		font-weight: bold;
	}
}